body {
  background: rgba(0, 0, 0, 0.7);
}
.App {
  display: flex;
  gap: 32px;
}
section,
aside {
  display: flex;
  overflow: hidden;
}
section {
  flex: 1 1 auto;
  height: 50vh;
}
aside {
  flex: 0 0 300px;
}
